<Configuration status="error">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"/>
        </Console>
        <File name="File1" fileName="messages.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File2" fileName="warnings.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="fail.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <RegexFilter regex="(?i).*FAIL.*" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
        </Root>
        <Logger name="pkg.Main" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
