body{
    display: flex;
    flex-direction: row;
}

div#container,div#controls{
    margin: 0.5rem;
    border: thick solid indigo;
    background-color: aliceblue;
}

div#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

div#controls{
    height: fit-content;
    padding: 0.5rem;   
}

div#controls div{
    margin: 0.5rem;
}

div#controls button{
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
}

div#controls label{
    font-family: monospace;
}

div#controls label::after{
    content: ":";
}

div.item{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

div.item:nth-child(odd){
    background-color: coral;
}
div.item:nth-child(even){
    background-color: gold;
}
