movies{
    display:block;
    background-color: mintcream;
    font-family: 'Courier New', Courier, monospace;
    margin: 1em;
}

title{
    display: none;
}

movie{
    display: list-item;
    list-style-type: disc;
    margin-left: 2em;
    padding: 0.25em;
}

title:lang(en){
    display: inline;
}

genre{
    display: inline-block;
    background-color: blueviolet;
    width: 6em;
    text-align: center;
}

rating{
    background-color: hotpink;
}

genre, rating{
    padding: 0.25em;
    color: white;
    border-radius: 0.25em;
}

rating::after{
    content: "/10"
}

votes::before{
    content: "from "
}

votes::after{
    content: " ratings";
}

year::before{
    content: "(";
}

year::after{
    content: "):";
}

movie:hover::after{
    content: "http://www.imdb.com" attr(id);
    background-color: gold;
    border-radius: 0.25em;
    padding: 0.25em;
    color: blueviolet
}