research{
    display: block;
    background-color: mintcream;
    margin: 1em;
}

alcohol{
    display: list-item;
    list-style-type: square;
    margin: 0.3em;
}

name{
    font-size: large;
}

brand:not(:last-child):after{
    content: ', ';
}

brands::before{
    content: '(';
}

brands::after{
    content: ')';
}

alcohol_content::before{
    content: '[' attr(percent);
}
alcohol_content::after{
    content: '%]:';
}

coctail{
    display: inline-block;
    background-color: green;
    padding: 0.1em;
    border-radius: 0.5em;
    color: mintcream;
    border: 1px black solid;
}
coctail::after{
    content: '(' attr(count) ')';
}
coctails:empty::after{
    content: "Nincs koktél";
}